/.idea/
/.gigaide/
/bitrix/
/upload/
/local/vendor/
/local/logs/
/local/templates/main/build/
/node_modules/

*.txt
*.log
*.zip
*.zip*
*.tar
*.tar*
*.enc
*.enc*
*.gz
*.gz*
*.tgz
*.tgz*
*.sql
*.rar
*.doc
*.docx
*.rtf
*.xls
*.xlsx
*.ppt
*.pptx
*.psd
*.psb
*.sketch
